*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8f1f3;
    overflow-x: hidden;
}

footer{
    background-color: #e7d3f3;
    margin-top: auto;
    width: 100%;
    padding: 1rem;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    border-top: 2px solid #080808;
}

.container{
    border: 3px solid black;
    border-radius: 0.5rem;
    width: 26rem;
    max-width: 95%;
    height: fit-content;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #e7d3f3;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.display{
    border: 2px solid black ;
    width: 20rem;
    min-height: 5rem;
    height: fit-content;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    font-size: 4rem;
    text-align: right;
    word-wrap: break-word;
}

.btn-menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.fnc-btn-menu{
    display: flex;
    gap: 0.8rem;
}

.fnc-btn-menu button{
    background-color: #8eb9f8;
    padding: 1.4rem 2rem;
}

.num-btn-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.8rem;
}

button{
    padding: 1.5rem;
    background-color: #f3b1d5;
    border: 2px solid #080808;
    border-radius: 1rem;
    font-size: 1.7rem;
}

.equals-btn{
    background-color: #ae82cc;
}

.clear-btn,
.clear-all-btn{
    background-color: #e7648b;
    padding: 1rem;
}

.clear-btn-menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

