*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f1f3;
}

.container{
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 26rem;
    height: fit-content;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #e7d3f3;
}

.display{
    border: 1px solid black ;
    width: 18rem;
    min-height: 7rem;
    height: fit-content;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    font-size: 2rem;
    word-wrap: break-word;
}

.btn-menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.fnc-btn-menu{
    display: flex;
    gap: 0.8rem;
}

.fnc-btn-menu button{
    background-color: #8eb9f8;
    padding: 1.4rem 2rem;
}

.num-btn-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.8rem;
}

button{
    padding: 2rem;
    background-color: #f3b1d5;
    border: 1px solid #b287ca;
    border-radius: 1rem;
    font-size: 1.7rem;
}

.equals-btn,
.clear-btn{
    background-color: #b66de6;
}